name: API Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Download Karate JAR
        run: |
          wget https://github.com/karatelabs/karate/releases/download/v1.5.2/karate-1.5.2.jar
          mv karate-1.5.2.jar karate.jar

      - name: Run API Tests
        run: java -jar karate.jar -T 4 --tags @regression src/test/java/serverest/**/*.feature

      - name: Upload Test Reports
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: test-reports
          path: target/karate-reports